argparse==1.2.1
Flask==1.0.2
Flask-Login==0.3.0
Flask-Mail==0.9.1
Flask-Migrate==2.3.1
Flask-SQLAlchemy==2.3.1
Flask-Security==3.0.0
Flask-Testing==0.4.2
Flask-WTF==0.13.1
Flask-Script
bcrypt
python-dateutil==2.2
requests>=2.20.0
xmltodict==0.9.0
uWSGI==2.0.14
pymongo==2.7.2
hpfeeds-threatstream==1.0
pygal==1.7.0
hpfeeds-logger==0.0.7.3
GeoIP==1.3.2
pysqlite>=2.8.0
validators>=0.12.6