#!/bin/bash

cd /opt

source {{ sysconfig_dir }}/chnserver

if [[ ! -f ./config.py ]]
then

  if [[ -z ${EMAIL} ]]
  then
    echo "Admin email is required"
    exit 1
  else
    EMAIL="-e ${EMAIL}"
  fi

  if [[ -z ${SERVER_BASE_URL} ]]
  then
    echo "Base url is required"
    exit 1
  else
    SERVER_BASE_URL="-b ${SERVER_BASE_URL}"
  fi

  if [[ ! -z "${HONEYMAP_URL}" ]]
  then
    HONEYMAP_URL="-y ${HONEYMAP_URL}"
  else
    HONEYMAP_URL=""
  fi

  if [[ ! -z "${REDIS_URL}" ]]
  then
    REDIS_URL="-r ${REDIS_URL}"
  else
    REDIS_URL=""
  fi

  if [[ -z ${MAIL_SERVER} ]]
  then
    echo "Mail server is required"
    exit 1
  else
    MAIL_SERVER="-m ${MAIL_SERVER}"
  fi

  if [[ -z ${MAIL_PORT} ]]
  then
    echo "Mail port is required"
    exit 1
  else
    MAIL_PORT="-m ${MAIL_PORT}"
  fi

  if [[ "${MAIL_TLS}" == "y" ]]
  then
    MAIL_TLS="--mail_tls"
  else
    MAIL_TLS=""
  fi

  if [[ "${MAIL_SSL}" == "y" ]]
  then
    MAIL_SSL="--mail_ssl"
  else
    MAIL_SSL=""
  fi

  if [[ ! -z "${MAIL_USER}" ]]
  then
    MAIL_USER="--mail_user ${MAIL_USER}"
  else
    MAIL_USER=""
  fi

  if [[ ! -z "${MAIL_PASSWORD}" ]]
  then
    MAIL_PASSWORD="--mail_pass ${MAIL_PASSWORD}"
  else
    MAIL_PASSWORD=""
  fi

  if [[ ! -z "${DEFAULT_MAIL_SENDER}" ]]
  then
    DEFAULT_MAIL_SENDER="--mail_sender ${DEFAULT_MAIL_SENDER}"
  else
    DEFAULT_MAIL_SENDER=""
  fi

  python generateconfig.py unattended ${EMAIL} \
                                      ${SERVER_BASE_URL} \
                                      ${HONEYMAP_URL} \
                                      ${REDIS_URL} \
                                      ${MAIL_SERVER} \
                                      ${MAIL_PORT} \
                                      ${MAIL_SSL} \
                                      ${MAIL_TLS} \
                                      ${MAIL_USER} \
                                      ${MAIL_PASSWORD} \
                                      ${DEFAULT_MAIL_SENDER}
fi

LOG_FILE_PATH=$(awk '/LOG_FILE_PATH/ {print $3}' /opt/config.py |sed "s/'//g")
LOG_DIR=$(awk -F/ 'BEGIN{FS=OFS="/"}{NF--; print}' <<< ${LOG_FILE_PATH})

mkdir -p ${LOG_DIR}
touch ${LOG_FILE_PATH}

chown -R {{ nginx_user}}.root ${LOG_FILE_PATH}

exec uwsgi --socket /tmp/uwsgi.sock \
           --module mhn:mhn \
           --chmod-socket=666 \
           --buffer-size 04960
