{% extends "base.html" %}
{% block content %}

<div class="row">
	<div class="large-6 columns">

		<figure>
			<embed type="image/svg+xml" src="{{ url_for('graph_users') }}"/>
		</figure>
	</div>

	<div class="large-6 columns">
		<figure>
			<embed type="image/svg+xml" src="{{ url_for('graph_passwords') }}"/>
		</figure>
	</div>

	<div class="large-6 columns">
		<figure>
			<embed type="image/svg+xml" src="{{ url_for('graph_combos') }}"/>
		</figure>
	</div>
	<div class="large-6 columns">
		<figure>
			<embed type="image/svg+xml" src="{{ url_for('graph_top_attackers') }}"/>
		</figure>
	</div>

</div>
{% endblock %}
